/*
* infinity slider
* Author: yehuda yadid
*/

.infinity-slider {
    overflow: hidden;
    position:relative;
}

.infinity-slider-container {
    width: 100%;
    font-size: 0;
}

.infinity-slider-slide {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
}

.infinity-slider-dot {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.infinity-slider-dot span {
    width: .7em;
    height: .7em;
    border-radius: 100%;
    background: white;
    display: inline-block;
    margin: 0 .4em;
}

.infinity-slider-dot span.active {
    background: black;
}

.infinity-slider-arrow {
    position: absolute;
    color: white;
    font-size: 150%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.infinity-slider-a-left.ltr {
    left: 2%;
}

.infinity-slider-a-right.ltr {
    right: 2%;
}

.infinity-slider-a-left.rtl {
    right: 2%;
}

.infinity-slider-a-right.rtl {
    left: 2%;
}

.infinity-slider-a-left:before {
    content: '<';
}

.infinity-slider-a-right:before {
    content: '>';
}

